---
import Navigation from "@/components/Navigation.astro";
import Layout from "@/layouts/ProjectLayout.astro";
import "../../../components/styles/WorkDescription.css";
import image1 from "#/projects/nothing/01-min.png";
import image2 from "#/projects/nothing/n2.png";
import image3 from "#/projects/nothing/n3.png";
---

<Layout title="Nothign Phone 2a">
  <main class="detailed-description">
    <Navigation />
    <a href="https://www.behance.net/gallery/195124709/Nothing-Phone-(2a)" target="_blank">
      <h1>Nothing Phone 2a</h1>
    </a>

    <p>
      A minimalist smartphone concept designed to merge innovation with functionality. This project highlights a sleek interface, intuitive user interactions, and a focus on simplicity, aiming to redefine the modern smartphone experience.
    </p>

    <div class="bento">
      <div class="bento-item">
        <img loading="lazy" src={image1.src} alt="Nothing Phone 2a" />
      </div>
      <div class="bento-item">
        <img loading="lazy" src={image2.src} alt="Nothing Phone 2a" />
      </div>
    </div>
    <div class="bento-item">
      <img loading="lazy" src={image3.src} alt="Nothing Phone 2a" />
    </div>
    <p>
      On this project the design approach revolves around minimalism, using generous white space, simple yet impactful typography, and a restrained color palette to highlight the Nothing Phone (2a)'s key attributes.
    </p>
    <a href="https://www.behance.net/gallery/195124709/Nothing-Phone-(2a)" target="_blank">
      project
    </a>
  </main>
</Layout>
