---
import Navigation from "@/components/Navigation.astro";
import Layout from "@/layouts/ProjectLayout.astro";
import "../../../components/styles/WorkDescription.css";
import image from "#/projects/pascaline/thumb.png";
---

<Layout title="Pascaline">
  <main class="detailed-description">
    <Navigation />
    <a href="https://hctor11.github.io/react-resources/" target="_blank">
      <h1>PASCALINE</h1>
    </a>

    <p>
      Pascaline is a one-stop-shop for all kinds of calculators you might need
      for math, physics, and statistics. Makes it easy to do complex
      calculations with a simple and intuitive interface.
    </p>

    <img
      loading="lazy"
      src={image.src}
      alt="Pascaline"
    />

    <p>
      Pascaline also provides explanations for the reasoning behind certain
      formulas, helping users gain a deeper understanding of the concepts
      they’re working with and fostering learning alongside problem-solving.
    </p>

    <ul>
      <li>Next.js</li>
      <li>Tailwind CSS</li>
    </ul>
    <a href="https://github.com/Hctor11/pascaline" target="_blank">
      github project
    </a>
    <a href="https://pascaline.vercel.app/" target="_blank">
      website
    </a>
  </main>
</Layout>
