---
import Navigation from "@/components/Navigation.astro";
import Layout from "@/layouts/ProjectLayout.astro";
import "../../../components/styles/WorkDescription.css";
import image1 from "#/projects/trigonometrica/01-min.png";
import image2 from "#/projects/trigonometrica/02-min.png";
---

<Layout title="Trigonometrica">
  <main class="detailed-description">
    <Navigation />
    <a href="https://www.behance.net/gallery/209358969/TRIGONOMETRICA-Diseno-editorial" target="_blank">
      <h1>Trigonometrica</h1>
    </a>

    <div class="bento">
      <div class="bento-item">
        <img loading="lazy" src={image1.src} alt="Nothing Phone 2a" />
      </div>
      <div class="bento-item">
        <img loading="lazy" src={image2.src} alt="Nothing Phone 2a" />
      </div>
    </div>
    <p>
      Trigonométrica is a captivating math magazine that brings the world of numbers, geometry, and equations to life. Designed for students, educators, and math enthusiasts, the magazine explores complex concepts through engaging visuals and thought-provoking articles.
    </p>
    <p>
      use of bold and vibrant colors not only captures attention but also enhances readability, ensuring that readers stay immersed in the subject.
    </p>
    <a href="https://www.behance.net/gallery/209358969/TRIGONOMETRICA-Diseno-editorial" target="_blank">
      project
    </a>
  </main>
</Layout>
