---
import Navigation from "@/components/Navigation.astro";
import Layout from "@/layouts/ProjectLayout.astro";
import "../../../components/styles/WorkDescription.css";
---

<Layout title="Dribbble Works">
  <main class="detailed-description">
    <Navigation />
    <a href="https://hctor11.github.io/react-resources/" target="_blank">
      <h1>Selected Dribbble works</h1>
    </a>

    <div class="bento-item">
      <img
        loading="lazy"
        src="/public/projects/dribbble/dashboard-min.png"
        alt="Social Media Designs"
      />
    </div>

    <p>
        <a href="https://dribbble.com/shots/22521183-Data-management-dashboard" target="_blank">
          Data management dashboard
        </a>
    </p>

    <div class="bento-item">
      <img
        loading="lazy"
        src="/public/projects/dribbble/ecomerce-min.png"
        alt="Social Media Designs"
      />
    </div>

    <p>
        <a href="https://dribbble.com/shots/21773263-Tech-eCommerce-Landing-page" target="_blank">
          E-commerce website
        </a>
    </p>

    <div class="bento-item">
      <img
        loading="lazy"
        src="/public/projects/dribbble/app-min.png"
        alt="Social Media Designs"
      />
    </div>

    <p>
        <a href="https://dribbble.com/shots/23022968-Gallery-app-UI" target="_blank">
          Mobile app
        </a>
    </p>


    <div class="bento-item">
      <img
        loading="lazy"
        src="/public/projects/dribbble/thum-min.png"
        alt="Social Media Designs"
      />
    </div>

    <p>
        <a href="https://www.behance.net/gallery/215307983/Travel-agency-landing-page" target="_blank">
          Nature landing page
        </a>
    </p>

  </main>
</Layout>
