---
import Navigation from "@/components/Navigation.astro";
import Layout from "@/layouts/ProjectLayout.astro";
import "../../../components/styles/WorkDescription.css";
import image1 from "#/projects/dribbble/dashboard-min.png";
import image2 from "#/projects/dribbble/ecomerce-min.png";
import image3 from "#/projects/dribbble/app-min.png";
import image4 from "#/projects/dribbble/thum-min.png";
---

<Layout title="Dribbble Works">
  <main class="detailed-description">
    <Navigation />
      <h1>Selected Dribbble works</h1>

    <div class="bento-item">
      <img
        loading="lazy"
        src={image1.src}
        alt="Social Media Designs"
      />
    </div>

    <p>
        <a href="https://dribbble.com/shots/22521183-Data-management-dashboard" target="_blank">
          Data management dashboard
        </a>
    </p>

    <div class="bento-item">
      <img
        loading="lazy"
        src={image2.src}
        alt="Social Media Designs"
      />
    </div>

    <p>
        <a href="https://dribbble.com/shots/21773263-Tech-eCommerce-Landing-page" target="_blank">
          E-commerce website
        </a>
    </p>

    <div class="bento-item">
      <img
        loading="lazy"
        src={image3.src}
        alt="Social Media Designs"
      />
    </div>

    <p>
        <a href="https://dribbble.com/shots/23022968-Gallery-app-UI" target="_blank">
          Mobile app
        </a>
    </p>


    <div class="bento-item">
      <img
        loading="lazy"
        src={image4.src}
        alt="Social Media Designs"
      />
    </div>

    <p>
        <a href="https://www.behance.net/gallery/215307983/Travel-agency-landing-page" target="_blank">
          Nature landing page
        </a>
    </p>

  </main>
</Layout>
