---
import Navigation from "@/components/Navigation.astro";
import Layout from "@/layouts/ProjectLayout.astro";
import "../../../components/styles/WorkDescription.css";
import image1 from "#/projects/commonplace/10-min.png";
import image2 from "#/projects/commonplace/09-min.png";
import image3 from "#/projects/commonplace/08-min.png";

---

<Layout title="Commonplace">
  <main class="detailed-description">
    <Navigation />
    <a href="https://www.behance.net/gallery/205279291/Commonplace-UIUX-study-case" target="_blank">
      <h1>Commonplace</h1>
    </a>

    <p>
      Commonplace is a UI/UX study case that explores the concept of a digital
      journaling application. 
    </p>

    <div class="bento">
      <div class="bento-item">
        <img
          loading="lazy"
          src={image1.src}
          alt="Nothing Phone 2a"
        />
      </div>
      <div class="bento-item">
        <img
          loading="lazy"
          src={image2.src}
          alt="Nothing Phone 2a"
        />
      </div>
    </div>
    <div class="bento-item">
      <img
        loading="lazy"
        src={image3.src}
        alt="Nothing Phone 2a"
      />
    </div>
    <p>
      The project focuses on creating a seamless and intuitive user experience
      that encourages users to write, reflect, and organize their thoughts
      effortlessly.
    </p>
    <a href="https://www.behance.net/gallery/205279291/Commonplace-UIUX-study-case" target="_blank">
      project
    </a>
  </main>
</Layout>
