---
import Navigation from "@/components/Navigation.astro";
import Layout from "@/layouts/ProjectLayout.astro";
import "../../../components/styles/WorkDescription.css";
---

<Layout title="Alexandria">
  <main class="detailed-description">
    <Navigation />
    <a href="https://www.behance.net/gallery/198063719/Alexandria-Note-taking-app-study-case" target="_blank">
      <h1>Alexandria</h1>
    </a>

    <div class="bento">
      <div class="bento-item">
        <img
          loading="lazy"
          src="/public/projects/alexandria/a10.png"
          alt="Social Media Designs"
        />
      </div>
      <div class="bento-item">
        <img
          loading="lazy"
          src="/public/projects/alexandria/a9.png"
          alt="Social Media Designs"
        />
      </div>
    </div>

    <p>
      Alexandria is a sleek and modern note-taking application designed to help
      users organize their thoughts and ideas effortlessly.
    </p>

    <div class="bento-item">
      <img
        loading="lazy"
        src="/public/projects/alexandria/a3.png"
        alt="Social Media Designs"
      />
    </div>

    <p>
      The app's design embraces a minimalist aesthetic, utilizing black and
      white tones to emphasize clarity and focus.
    </p>
    <div class="bento-item">
      <img
        loading="lazy"
        src="/public/projects/alexandria/a7.png"
        alt="Social Media Designs"
      />
    </div>
    <a href="https://www.behance.net/gallery/198063719/Alexandria-Note-taking-app-study-case" target="_blank">
      project
    </a>
  </main>
</Layout>
