---
import WorkMenu from "./WorkMenu.tsx";
import Header from "./Header.astro";
---

<div id="container">
  <Header />
  <WorkMenu client:load/>
</div>

<style>
  #container {
    max-width: 600px;
	margin: 0 auto;
  }
</style>
